.nav-bar {
  background-color: #343A40;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100px;
}

.nav-bar .navbar-brand img {
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.nav-bar .nav-link {
  color: #fff;
  margin-left: 15px;
}

.nav-bar .nav-link:hover {
  color: #4a628a;
}

.nav-bar .nav-dropdown {
  color: #333;
}

.nav-bar .nav-dropdown:hover {
  color: #343A40;
}

.custom-dropdown-item {
  color: #333;
}

.custom-dropdown-item:hover {
  background-color: #f8f9fa;
  color: #343A40;
}

.custom-dropdown-item:active {
  background-color: #4a628a;
  color: #fff;
}